[tool.black]
line-length = 100
target-version = ['py311']

[tool.ruff]
target-version = "py311"
line-length = 100
select = [
    "E",
    "F",
    "I",
    "A",
    "B",
    "ANN",
    "N",
    "C4",
    "RUF"
]
ignore = [
    "ANN101",
    "ANN102",
    "ANN401"
]
src = ["backend", "edge-sim", "iot-sim"]

[tool.ruff.per-file-ignores]
"*/__init__.py" = ["F401"]
"backend/tests/**" = ["PLC0415"]

[tool.mypy]
python_version = "3.11"
strict = true
ignore_missing_imports = true
warn_unused_configs = true
warn_unused_ignores = true
warn_return_any = true
warn_no_return = true
check_untyped_defs = true
no_implicit_optional = true
